{{ $pricing := .Site.Data.pricing }}

<div id="pricing" class="header">
  <p>🧱 Pricing</p>
</div>

{{ range $index, $pricing := $pricing}}
<section class="box">
  <p class="light">
    <span>{{ $pricing.header }}</span>
    <span class="grey">{{ $pricing.text }}</span>
  </p>
  <!-- <p class="m-bottom light">{{ $pricing.header }}</p>
  <p class="medium text-medium">{{ $pricing.text }}</p> -->
  <a href="{{ $pricing.link }}" class="button button-small text-small m-top black">
    <div>{{ $pricing.buttontext }}</div>
  </a>
</section>
{{ end }}